section{
    // padding-top: 12%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 800px;
    .centro-Principal{
        width: 50%;
        float: left;
        padding: 2%;
    }
    .centro-Principal-Aside{
        width: 50%;
        float: right;
        .superior{
            background-color: chocolate;
            padding: 4%;
        }
        .inferior{
            background-color: coral;
            padding: 4%;
            .zap{
                margin-left: 20px;
                max-width:30px;
                max-height:30px;
                width: auto;
                height: auto;
            }
        }
    }
}
